/*  
Plantilla CSS para Kulturalive
COLOR BASE 1 : #6a7682

/* 
   Reseteo
------------------------------------------------------------------- */

/*html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, 
img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, b, u, i, 
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, 
tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; 
font-size: 100%; vertical-align: baseline; background: transparent; } body { 
line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } 
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: 
none; } :focus { outline: 0; } ins { text-decoration: none; } del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }*/


/* 
   Tipografía
------------------------------------------------------------------- */

/*p {padding: 0.2em 0 1em;}*/

h1 {font: normal 1.2em sans-serif;}
h2 {font: normal 1.1em sans-serif;}

h1,h2 {
	color: #456;
	margin-bottom: 0.3em;
}

/* 
   Listas
------------------------------------------------------------------- */

dl {margin-bottom: 2em;}
dt,dd {padding: 8px 10px;}
dt {
	border-bottom: 1px solid #D5D5D5;
	background: #E5E5E5;
	color: #555;
	font-weight: bold;
}
dd {
	background: #F5F5F5;
	border-bottom: 1px solid #E5E5E5;
	padding-left: 16px;
}

/* 
   Otros
------------------------------------------------------------------- */
.boxLi {
	overflow: auto;
}

.boxImg {
	float: left;
}

.boxItem {
	overflow: hidden;
}

.topcoat-navigation-bar-kometa {
	  height: 3em;
	  padding-left: 1em;
	  padding-right: 1em;
	  box-shadow: inset 0 -1px #9daca9, 0 1px #d6dcdb;
	  
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  background-clip: padding-box;
	  white-space: nowrap;
	  overflow: hidden;
	  word-spacing: 0;
	  padding: 0;
	  margin: 0;
	  font: inherit;
	  background: transparent;
	  border: none;
	  cursor: default;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#5698c8),to(#336fab));
	background-image:-webkit-linear-gradient(#5698c8,#336fab);
	background-image:-moz-linear-gradient(#5698c8,#336fab);
	background-image:-ms-linear-gradient(#5698c8,#336fab);
	background-image:-o-linear-gradient(#5698c8,#336fab);
	background-image:linear-gradient(#5698c8,#336fab);
}

.topcoat-navigation-bar__title-kometa {
  padding: 0;
  margin: 0;
  font: inherit;
  color: white;
  text-shadow:0 1px 0 #000fff;
  line-height: 3em;
  background: transparent;
  border: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.topcoat-list__item-kometa {
  padding: 0.25em;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #9daca9;
}

.itemBand {
	font: bold 1.2em sans-serif;
	margin-bottom: 0.5em;
}

.itemDate {
	font: normal 1em sans-serif;
}
